

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sebastian Christoph - {% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ asset('css/base.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block javascript %}
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- Sebastian Christoph JavaScript -->
        <!--<script src="{{ asset('js/base.js') }}"></script>-->
    {% endblock %}

    {{ include('_menu.html.twig') }}
    <div class="container bodycontainer">
        <div class="row">
            <div class="col-md-12 maincontent">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="font-small text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 footerleft">
                    <a href="{{ path('impressum') }}" title="Impressum">Impressum</a>
                    <a href="#" title="Datenschutz">Datenschutz</a>
                </div>
                <div class="col-md-6 d-none d-lg-block footerright">
                    <a href="#" title="E-Mail"><img src="{{ asset('images/icons/email.png') }}" width="20" height="20" class="d-inline-block align-top" alt=""></a>
                    <a href="#" title="Xing"><img src="{{ asset('images/icons/xing.png') }}" width="20" height="20" class="d-inline-block align-top" alt=""></a>
                    <a href="#" title="Github"><img src="{{ asset('images/icons/github.png') }}" width="20" height="20" class="d-inline-block align-top" alt=""></a>
                    <a href="#" title="Facebook"><img src="{{ asset('images/icons/facebook.png') }}" width="20" height="20" class="d-inline-block align-top" alt=""></a>
                    <a href="#" title="Twitter"><img src="{{ asset('images/icons/twitter.png') }}" width="20" height="20" class="d-inline-block align-top" alt=""></a>
                    <a href="#" title="Instagram"><img src="{{ asset('images/icons/instagram.png') }}" width="20" height="20" class="d-inline-block align-top" alt=""></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->

</body>
</html>